# Secrets/passwords etc
# (Copy secrets.h.example to secrets.h and update that 
#  rather than storing secrets.h in git)
######################################
secrets.h
#
#Don't include the compiled tests in the git repo:
test/bin