#ifndef SECRETS_H
#define SECRETS_H

#include "EventProcessing.h"
#include "Calendar.h"
#include "entry.h"

#define WIFI_SSID "ExampleSSID"
#define WIFI_PASSWORD "ExamplePassword"

#define TIMEZONE_OFFSET_GMT 1

//For different things that can be included in rules (e.g. setting event colour)
//see EventProcessing.h
ProcessingRule_t DefaultIncludeEventRules[] = {
   { INKYR_MATCH_CONTAINS,             "[nowall]", INKYR_RESULT_DISCARD,     0},
   { INKYR_MATCH_END } //This is important and must be last rule
};

ProcessingRule_t DefaultExcludeEventRules[] = {
   { INKYR_MATCH_DOES_NOT_CONTAIN,    "[wall]", INKYR_RESULT_DISCARD,     0},
   { INKYR_MATCH_END } //This is important and must be last rule
};

Calendar_t Calendars[] = {
    { "https://calendar.google.com/calendar/ical/something"
      DefaultIncludeEventRules, INKY_EVENT_COLOUR_ORANGE},
    { NULL } //This is important and must be last calendar
};

#endif
