#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID "ExampleSSID"
#define WIFI_PASSWORD "ExamplePassword"

#define TIMEZONE_OFFSET_GMT 1

#define CALENDAR_URL "https://calendar.google.com/calendar/ical/something"



#endif